<div class="container-fluid" id="second">

<div class="container-fluid" id="first">
<div class="row" >
<img src="../../assets/logo.png" alt="img src" style="width: 50px" style="height: 50px">
<!-- logo name -->
<a class="navbar-brand" id="app">{{word.glibApp}}</a>
</div>
</div>
<div class="container-fluid" id="third">
<div id="login">
<div class="col-xs-12">
<h1>{{word.set}}</h1>
<form role="form"  (ngSubmit)="save(f.value, f.valid)" #f="ngForm"  action="javascript:;" method="post" id="login-form" autocomplete="off">
<div class="form-group">
<!-- email -->
<label for="email" class="sr-only">{{word.enter}}</label>
<input type="email" id="password" name="password" class="form-control" placeholder="New Password"
[(ngModel)]="info.password"
required
minlength="5"
#upassword="ngModel">
</div>
<div [hidden]="upassword.valid || (upassword.pristine && !f.submitted)"
class="alert alert-danger">
<div [hidden]="!upassword.hasError('required')">Password is required</div>
<div [hidden]="!upassword.hasError('minlength')">Password should have atleat 5 characters</div>
</div>
<div class="form-group">
<!-- confirm password -->
<label for="email" class="sr-only">{{word.confirm}}</label>
<input type="email" name="cpass" id="cpass" class="form-control" placeholder="Confirm Password"    [(ngModel)]="info.confirmPassword" 
required
validateEqual="password"
#ucpass="ngModel">
</div>
<div [hidden]="ucpass.valid || (ucpass.pristine && !f.submitted)"
class="alert alert-danger">
{{word.password}}
</div>
<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" 
(click)=changePassword(info) value="Submit">
</form>
</div> 
</div>
</div>
</div>
