
<div class="container-fluid" id="second">
<div class="container-fluid" id="first">
<div class="row" >
<img src="../../assets/logo.png" alt="img src" style="width: 50px" style="height: 50px">
<a class="navbar-brand" id="app">{{word.glibApp}}</a>
</div>
</div>
<div class="container-fluid" id="third">
<div id="login">
<div class="col-xs-12">
<!-- email title-->
<h1>{{word.enter}}</h1>
<form role="form" (ngSubmit)="save(f.value, f.valid)" #f="ngForm" action="javascript:;" method="post" id="login-form" autocomplete="off">
<div class="form-group">
<!-- enter email -->
<label for="email" class="sr-only">{{word.email}}</label>
<input type="email" name="email" id="email" class="form-control" placeholder="abc@gmail.com"   
[(ngModel)]="email"
required
pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
#uemail="ngModel">
</div>
<div [hidden]="uemail.valid || (uemail.pristine && !f.submitted)"
class="alert alert-danger">
<div [hidden]="!uemail.hasError('required')">{{word.require}}</div>
<div [hidden]="!uemail.hasError('pattern')"> {{word.pattern}} <i>{{word.valid}}</i></div>
</div>
<!-- submit button -->
<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" 
(click)=verifyEmail(email) value="Submit">
</form>
</div> 
</div>
</div>
</div>
