
<div *ngFor="let message of messages">
{{message.message}}
</div> 
<body>
<div class="container-fluid message-thread" id="secondSec">
<div class="row bootstrap snippets">
<div class="col-md-12">
<!-- DIRECT CHAT WARNING -->
<div class=" direct-chat direct-chat-warning">
<!-- /.box-header -->
<div class="box-body">
<!-- Conversations are loaded here -->
<div class="direct-chat-messages">
<!-- Message. Default to the left -->
<div *ngFor="let msg of allGeneralMessages,let i=index">
<div *ngIf="msg.message">
<div class="container-fluid" *ngIf="msg.username!==username">
<div class="row">
<div class="col-md-8">
<div class="direct-chat-msg">
<div class="direct-chat-info clearfix">
<span class="direct-chat-name pull-left">{{msg.username}}</span>
<span class="direct-chat-timestamp pull-right">{{word.jan}}</span>
</div>
<!-- /.direct-chat-info -->
<img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
<div class="direct-chat-text">
               {{msg.message.message}}
<!-- xxxxxxxxxxxxxxxxxxxxxxxx url to snippe work xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<div class="card" id="left" *ngIf='msg.message.title' >
<div class="vl">
<div class="card-block" >
<h4 class="card-title">{{msg.message.title}}</h4>
<div class="row">
<div class=" thumbnail " *ngIf='msg.message.image'>
<img class="card-img-top"  src="{{msg.message.image}}">
</div>
<div class="col-md-12" *ngIf='msg.message.description'>
<p class="card-text">{{msg.message.description}}</p>
</div>
</div>
</div>
</div>
</div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxx end xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>
<!-- /.direct-chat-text -->
</div>
</div>
<!-- /.direct-chat-msg -->
<div class="col-md-4">
  </div>
</div>
</div>
<!-- yellow xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="container-fluid" *ngIf="msg.username===username">
<div class="row">
<div class="col-md-4">
</div>
<!-- Message to the right -->
<div class="col-md-8">
<div class="direct-chat-msg right">
<div class="direct-chat-info clearfix">
<span class="direct-chat-name pull-right">{{msg.username}}</span>
<span class="direct-chat-timestamp pull-left">{{word.one}}</span>
</div>
<!-- /.direct-chat-info -->
<img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
<div class="direct-chat-text">
{{msg.message.message}}
<div class="card" id="left" *ngIf='msg.message.title' >
<div class="vl">
<div class="card-block" >
<h4 class="card-title">{{msg.message.title}}</h4>
<div class="row">
<div class=" thumbnail " *ngIf='msg.message.image'>
<img class="card-img-top"  src="{{msg.message.image}}">
</div>
<div class="col-md-12" *ngIf='msg.message.description'>
<p class="card-text">{{msg.message.description}}</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- /.direct-chat-text -->
</div>
</div>
<!-- /.direct-chat-msg -->
</div>
</div>
<!-- yellow xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->         
</div>
<div *ngIf="msg.code">
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  grey   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx --> 
<div class="container-fluid" *ngIf="msg.username!==username">
<div class="row">
<div class="col-md-8">
<div class="direct-chat-info clearfix">
<span class="direct-chat-name pull-left">{{msg.username}}</span>
<span class="direct-chat-timestamp pull-right">{{word.jan}}</span>
</div>
<img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"> 
<div class="direct-chat-text">
<div id="faq">
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<div class="row">
<div class="col-md-8">
<h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" [attr.data-target]="'#'+i" aria-expanded="false" aria-controls="collapseExample">
{{msg.code.title}}
</h5>
</div>
<!-- download code snippet button -->

<div class="col-md-4" style="text-align: right;">
<a data-dismiss="modal" (click)="downloadCode(msg.code.codeId)">
<i class="fa fa-download" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
<div id={{i}} class="panel-collapse collapse">
<div class="panel-body">
<h5>Language: {{msg.code.language}}</h5>
<h5 id="cod">{{word.code}}:</h5>
<p>{{msg.code.code}}</p>
</div>
<div class="panel-footer">
<h6 id="cod">{{word.comment}}: {{msg.code.comment}} </h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
</div>
</div>
</div>
<!-- yellow xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="container-fluid" *ngIf="msg.username===username">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-8">
<div class="direct-chat-msg right">           
<div class="direct-chat-info clearfix">
<span class="direct-chat-name pull-right">{{msg.username}}</span>
<span class="direct-chat-timestamp pull-left">{{word.jan}}</span>
</div>
<img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
<div class="direct-chat-text">
<div id="faq">
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<div class="row">
<div class="col-md-8">
<h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" [attr.data-target]="'#'+i" aria-expanded="false" aria-controls="collapseExample">
{{msg.code.title}}
</h5>
</div>
<!-- code to download the code snippet -->
<div class="col-md-4" style="text-align: right;">
<a   data-dismiss="modal" (click)="downloadCode(msg.code.codeId)" >
<i class="fa fa-download" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
<div id={{i}} class="panel-collapse collapse">
<div class="panel-body">
<h5>Language: {{msg.code.language}}</h5>
<h5 id="cod">Code:</h5>
<p>{{msg.code.code}}</p>
</div>
<div class="panel-footer">
<h6 id="cod">Comment: {{msg.code.comment}} </h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- yellow xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->         
</div>
<div *ngIf="msg.file">
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  grey   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx --> 
<div class="container-fluid" *ngIf="msg.username!==username">
<div class="row">
<div class="col-md-8">
<div class="direct-chat-info clearfix">
<span class="direct-chat-name pull-left">{{msg.username}}</span>
<span class="direct-chat-timestamp pull-right">{{word.jan}}</span>
</div>
<img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"> 
<div class="direct-chat-text">
<div id="faq">
<div class="panel-group" >
<div class="panel panel-default">
<div class="panel-heading">
<div class="row">
<div class="col-md-8">
<!--     I HAVE TO DO WORK HERE -->

<h6>{{msg.file.fileOriginalName}}</h6><br><h6>{{msg.file.fileSize}} MB</h6>
<!-- <video width="540" height="310" controls>
  <source src="https://www.youtube.com/watch?v=K0YEVNacmtw" type="video/mp4">
</video> -->
<div class="embed-responsive embed-responsive-4by3" *ngIf="msg.file.fileMIME=='video/mp4'">
  <iframe class="embed-responsive-item" width="420"  height="345" [src]="sanitizer.bypassSecurityTrustResourceUrl(msg.fileUrl)" ></iframe>
</div>
</div>
<div class="col-md-4" style="text-align: right;">
<a  data-dismiss="modal"  (click)="newWindowFile(msg)">
<i class="fa fa-download" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
</div>
</div>
</div>
<!-- yellow xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="container-fluid" *ngIf="msg.username===username">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-8">
<div class="direct-chat-msg right">           
<div class="direct-chat-info clearfix">
<span class="direct-chat-name pull-right">{{msg.username}}</span>
<span class="direct-chat-timestamp pull-left">{{word.jan}}</span>
</div>
<img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
<div class="direct-chat-text">
<div id="faq">
<div class="panel-group">
<div class="panel panel-default">
<div class="panel-heading">
<div class="row">
<!-- code to download the code snippet -->
<div class="col-md-12">
<!-- hereeeeeee -->

        <div class="row">

				<div class="col-md-2">
					<i class="fa fa-file-audio-o" aria-hidden="true" id="fa" *ngIf="msg.file.fileMIME.split('/')[0]=='audio'"></i>
					<i class="fa fa-file-video-o" aria-hidden="true" id="fa" *ngIf="msg.file.fileMIME.split('/')[0]=='video'"></i>
					<i class="fa fa-file-image-o" aria-hidden="true" id="fa" *ngIf="msg.file.fileMIME.split('/')[0]=='image'"></i>
					<i class= "fa fa-file-o" aria-hidden="true" id="fa" *ngIf="msg.file.fileMIME.split('/')[0]!='image' && msg.file.fileMIME.split('/')[0]!='video' && msg.file.fileMIME.split('/')[0]!='audio'"></i>
				</div>

				<div class="col-md-8" >
					<div class="row">
						<div class="col-md-9"><h6>{{msg.file.fileOriginalName}}</h6></div>
						<div class="col-md-3" style="text-align: right;"><h6>{{msg.file.fileSize}} MB</h6></div>
					</div>
				</div >

				<div class="col-md-2">
					<div style="text-align: right;" *ngIf=" msg.file.fileMIME.split('/')[0]!='video' && msg.file.fileMIME.split('/')[0]!='audio'">
							<a  data-dismiss="modal"  (click)="newWindowFile(msg)" >
							<i class="fa fa-download" id="fa2" aria-hidden="true"></i>
							</a>
					</div>
					<div style="text-align: right;" *ngIf=" msg.file.fileMIME.split('/')[0]=='video' || msg.file.fileMIME.split('/')[0]=='audio'">
							<a (click)="msg.toggle = !msg.toggle"><i class="fa fa-play-circle-o" aria-hidden="true" id="fa2"></i></a>
					</div>
				</div>
		</div>
		<div >
				<div *ngIf="msg.file.fileMIME.split('/')[0]=='video' || msg.file.fileMIME.split('/')[0]=='audio'">
					<div *ngIf="msg.toggle">
							<div class="embed-responsive embed-responsive-4by3" >
							  <iframe id = "videoEmbedded" class="embed-responsive-item" width="420"  height="345" [src]="sanitizer.bypassSecurityTrustResourceUrl(msg.fileUrl)" >
							  	<param id = "videoEmbedded" name="autoplay" value="false">
							  </iframe>
							</div>
					</div>
				</div>

				<div  *ngIf="msg.file.fileMIME.split('/')[0]=='image'"> 
					  <img id = "imageEmbedded"  [src]="sanitizer.bypassSecurityTrustResourceUrl(msg.fileUrl)">				  
				</div>
		</div>		
</div>
				
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- yellow xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->         
</div>
<div *ngIf="msg.url">
<h2>{{word.code}}</h2>
</div>
</div>
<!-- Message. Default to the left -->
</div>
<!--/.direct-chat-messages-->
<!-- /.direct-chat-pane -->
</div>
<!-- /.box-body -->
</div>
<div class="footer">
<div class="container-fluid">
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-10">
<form action="#" method="post">
<div class="input-group container-fluid">
<!-- Default dropup button -->
<div class="btn-group dropup">
<button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fa fa-plus" aria-hidden="true"></i>
</button>
<div class="dropdown-menu">
<a class="dropdown-item" >
<label class="custom-file" id="customFile">
<input type="file" name ="file" class="custom-file-input" id="file"  aria-describedby="fileHelp" accept=".png, .jpeg, .jpg, .mp3 , .mp4, .pdf, .txt" (change)="sendFileData()">
<span class="custom-file-control form-control-file" >{{word.uploadFile}}</span>
</label></a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-paperclip" aria-hidden="true"></i> {{word.codeSnippet}}</a>
<div class="dropdown-divider"></div>
<!-- Dropdown menu links -->
</div>
</div>
<input type="text" name="message" placeholder="Type Message ..." class="form-control" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()">
  <span class="input-group-btn">
<button type="submit" class="btn btn-warning btn-flat" id="send" (click)="sendMessage()">{{word.send}}</button>
  </span>
</div>
</form>
</div>
</div>
</div>
</div>
<!-- /.box-footer-->
</div>
<!--/.direct-chat -->
</div>
</div>
</body>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header" id="head">
<h5 class="modal-title" id="exampleModalLabel" >{{word.newSnippet}}</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body modal-lg">
<!--      <form> -->
<div class="row">
<div class="col-md-8">
<div class="form-group">
<input type="text" class="form-control" placeholder="Ttle(Optional)" [(ngModel)]="data.title" id="recipient-name">
</div>
</div>
<div class="col-md-4"> 
<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{word.dropdownbutton}}
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<ul>
<li class="dropdown-item" (click)=languageSelect(java)>{{word.jv}}</li>
<li class="dropdown-item" (click)=languageSelect(c)>c</li>
<li class="dropdown-item" (click)=languageSelect(js)>{{word.js}}</li>
<li class="dropdown-item" (click)=languageSelect(py)>{{word.py}}</li>
<li class="dropdown-item" (click)=languageSelect(sql)>{{word.sql}}</li>
<li class="dropdown-item" (click)=languageSelect(html)>{{word.html}}</li>
<li class="dropdown-item" (click)=languageSelect(php)>{{word.php}}</li>
<li class="dropdown-item" (click)=languageSelect(txt)>{{word.txt}}</li>
<li class="dropdown-item" (click)=languageSelect(json)>{{word.json}}</li>
</ul>
</div>
</div>
</div>
</div>
<div class="form-group">
<label for="message-text" class="col-form-label">{{word.codeSnippet}}:</label>
<textarea class="form-control" id="message-text" [(ngModel)]="data.code"></textarea>
</div>
<div class="row">
<div class="col-md-3">
<p>{{word.comment}}(Optional):</p>
</div>
<div class="col-md-9">
<div class="form-group">
<input class="form-control" id="message-text" [(ngModel)]="data.comment">
</div>
</div>
</div>
<!--         </form> -->
</div>
<div class="modal-footer">
<button type="button" class="btn btn-seconary" data-dismiss="modal">{{word.close}}</button>
<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendCodeData()" >{{word.send}}</button>
</div>

</div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

