 strong:hover{

  font-size: large;
 }

#round{
  width: 50px;
  margin-top: 10px;
  height: 50px;
}
#brand{
color: whitesmoke;
  } 
  .close{
  color: whitesmoke;
}
.modal-header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px;
    background-color: #3f3250;
    border-bottom: 1px solid #e9ecef;
    color: whitesmoke;
}
.btn-primary{
  color:whitesmoke;
  background-color: #3f3250;
}
.btn-primary:hover{
  color:#3f3250;
  background-color:whitesmoke;
  border-color: #3f3250;
}
.btn-danger{
  /*margin-left: -.5em;*/
  background-color: #3f3250;
  border-color:#3f3250;
  margin-left: 3.5em;
}
 .fa{

 color:  #009688;
 }
#fontAw{
color: green;
font-size: x-small;
padding-left: 1em;
}

 .nav-link-text{
color: #009688;
font-size: medium;
padding-top: 1em;

 }
 .nav-link{
  display: block;
padding: .2rem .2rem;
 }
 .main{
background-color: #009688;

 }
/* strong:hover{
  font-size: large;
 }*/
 .rounded {
    border-radius: 2rem!important;
}

 #user-menu{
  margin-left: -60px;
 }
 #user-menu{
  background-color: whitesmoke;
  color: #3f3250;
 }
html {
  position: relative;
  min-height: 100%; }

body {
  overflow-x: hidden; }

body.sticky-footer {
  margin-bottom: 56px; }
  body.sticky-footer .content-wrapper {
   min-height: calc(100vh - 56px - 56px);}

body.fixed-nav {
  padding-top: 56px; }

.content-wrapper {
  min-height: calc(100vh - 56px);

  /*padding-top: 1rem;*/
  background-image: url("https://orig00.deviantart.net/c715/f/2012/207/4/9/tech_a_wallpaper_1900x1080_by_n7revenant-d58pqef.png"); }


.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px; }
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white; }
  .scroll-to-top:hover {
    background: #266979; }
  .scroll-to-top i {
    font-weight: 800; }

.smaller {
  font-size: 0.7rem; }

.o-hidden {
  overflow: hidden !important; }

.z-0 {
  z-index: 0; }

.z-1 {
  z-index: 1; }

.profile-userpic img {
    float: none;
    /*margin: 0 auto;*/
    width: 10%;
    height: 10%;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh; }
  #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer; }
  #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    float: right;
    content: '\f107';
    font-family: 'FontAwesome'; }
  #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
    content: '\f105'; }
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
    padding-left: 0; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
      display: block;
      padding: 0.5em 0; }
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
        text-decoration: none; }
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
    padding-left: 1em; }
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
    padding-left: 2em; }
  #mainNav .navbar-collapse .sidenav-toggler {
    display: none; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    position: relative;
    min-width: 45px; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
      float: right;
      width: auto;
      content: '\f105';
      border: none;
      font-family: 'FontAwesome'; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
      position: absolute;
      top: 5px;
      left: 21px;
      font-size: 10px; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
    content: '\f107'; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    overflow: hidden;
    max-width: none;
    text-overflow: ellipsis; }

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px; }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none; }
    #mainNav .navbar-collapse .navbar-sidenav {
      position: absolute;
      top: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 56px;
      height: 1300px }
      #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
        width: 250px;
        padding: 0; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
          padding: 1em;
           }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
          padding-left: 0;
          list-style: none; }
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
            width: 250px; }
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
              padding: 1em; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
          padding-left: 2.75em; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
          padding-left: 3.75em; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      min-width: 0; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
        width: 24px;
        text-align: center; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      max-width: 300px;  } }

#mainNav.fixed-top .sidenav-toggler {
  display: none; }

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px); }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px); }
    #mainNav.fixed-top .sidenav-toggler > .nav-item {
      width: 250px;
      padding: 0; }
      #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
        padding: 1em; } }

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #266979; }
  #mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
    color: #adb5bd; }

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6; }
  #mainNav.fixed-top.navbar-light .sidenav-toggler a i {
    color: rgba(0, 0, 0, 0.5); }

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px; }
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
    width: 55px !important; }

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH'; }

#mainNav.static-top .sidenav-toggler {
  display: none; }

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {

    display: flex; }

    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1rem;
    font-size: 14px;
    color: #009688;
    cursor: pointer;
} }

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH'; }

.content-wrapper {
  overflow-x: hidden;
  background: white; }
  @media (min-width: 992px) {
    .content-wrapper {
      margin-left: 250px; } }

#sidenavToggler i {
  font-weight: 800; }

.navbar-sidenav-tooltip.show {
  display: none; }

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px; } }

body.sidenav-toggled .navbar-sidenav {
  overflow-x: hidden;
  width: 55px; }
  body.sidenav-toggled .navbar-sidenav .nav-link-text {
    display: none; }
  body.sidenav-toggled .navbar-sidenav .nav-item,
  body.sidenav-toggled .navbar-sidenav .nav-link {
    width: 55px !important; }
    body.sidenav-toggled .navbar-sidenav .nav-item:after,
    body.sidenav-toggled .navbar-sidenav .nav-link:after {
      display: none; }

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #868e96; }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: #adb5bd; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #868e96; }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    color: #adb5bd; }

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd; }

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {

    background:#D8DBD6; }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
      color: white !important;
      background-color: #3f3250; }
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
        color: white; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {

/*      background: #3f3250;*/ 
color: whitesmoke;
background-color: #D8DBD6;} 

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level:hover {
/*      background: #3f3250;*/ 
color: whitesmoke;} }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5); }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5); }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: rgba(0, 0, 0, 0.7); }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: rgba(0, 0, 0, 0.5); }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    color: rgba(0, 0, 0, 0.7); }

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: rgba(0, 0, 0, 0.5); }

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #266979; }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
      color: #000 !important;
      background-color: #266979; }
      #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
        color: #000; }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
      background: #266979; } }

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }

@media (min-width: 576px) {
  .card-columns {
    column-count: 1; } }

@media (min-width: 768px) {
  .card-columns {
    column-count: 2; } }

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2; } }

.card-login {
  max-width: 25rem; }

.card-register {
  max-width: 40rem; }
  h2{
    color: white;
    font-size: 1.0rem;
    margin-top:0.5rem;
    margin-left: 1.0rem;
  }


 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}


} 
.scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*background-color: #F5F5F5;*/
}

.scroll::-webkit-scrollbar
{
  width: 4px;
  /*background-color: #F5F5F5;*/
}
.scroll::-webkit-scrollbar-thumb
{
  background-color: #009788;
}


.scroll {
 
    width: 100%;
    height: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}


@media(max-width: 980px){
  .nav-link-text{
    color: whitesmoke;
  }
}

