body{margin-top:20px;}

/* WRAPPERS */
#wrapper {
  width: 100%;
  overflow-x: hidden;
}
textarea{
  height: 200px;
}
.panel-heading{

      background-color:#009788;
    border: 1px;
    color: whitesmoke;
    /* border-color: #f39c12; */
    padding: 5px 5px 5px 15px;
    border-radius: 6px;
}

#com{
  text-align: -webkit-auto;
  color: whitesmoke;
}

h3{
  color:whitesmoke;
  cursor: pointer;
}
.panel-body{
  padding: 10px 10px 10px 10px;
  background-color:whitesmoke; 
  color: black; 
  text-align: -webkit-auto;
}

h5{
  cursor: pointer;
}
#cod{
  color: #444;
  /*background-color:#d2d6de; */

}
#head
{background-color:#009788;
color: whitesmoke; }
.wrapper {
  padding: 0 20px;
}
.wrapper-content {
  padding: 20px 10px 40px;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
}

.btn-primary{
  background-color:#009788;
  border-color: #009788;
}
.message-input {
  height: 90px !important;
}
.chat-avatar {
  white: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
}
.chat-user-name {
  padding: 10px;
}
.chat-user {
  padding: 8px 10px;
  border-bottom: 1px solid #e7eaec;
}
.chat-user a {
  color: inherit;
}
.chat-view {
  z-index: 20012;
}
.chat-users,
.chat-statistic {
  margin-left: -30px;
}
@media (max-width: 992px) {
  .chat-users,
  .chat-statistic {
    margin-left: 0;
  }
}
.chat-view .ibox-content {
  padding: 0;
}
.chat-message {
  padding: 10px 20px;
}
.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  margin-top: 1px;
}
.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}
.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}
.message {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}
.chat-discussion .chat-message.left .message-date {
  float: right;
}
.chat-discussion .chat-message.right .message-date {
  float: left;
}
.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}
.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}
.message-date {
  font-size: 10px;
  color: #888888;
}
.message-content {
  display: block;
}
.chat-discussion {
  background: #eee;
  padding: 15px;
  height: 400px;
  overflow-y: auto;
}
.chat-users {
  overflow-y: auto;
  height: 400px;
}
.chat-message-form .form-group {
  margin-bottom: 0;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.message-input {
    height: 90px !important;
}
.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

#secondSec{

    margin-top:25px;

}

#videoHead

{

    position: fixed;

    /*margin-top: 55px;*/

}

.box {

    position: relative;

    border-radius: 3px;

    background: #ffffff;

    border-top: 3px solid #d2d6de;

   margin-top: -35px;

    width: 100%;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

.box.box-primary {

    border-top-color: #3c8dbc;

}

.box.box-info {

    border-top-color: #00c0ef;

}

.box.box-danger {

    border-top-color: #dd4b39;

}

.box.box-warning {

    border-top-color: #f39c12;

}

.box.box-success {

    border-top-color: #00a65a;

}

.box.box-default {

    border-top-color: #d2d6de;

}

.box.collapsed-box .box-body, .box.collapsed-box .footer {

    display: none;

}

.box .nav-stacked>li {

    border-bottom: 1px solid #f4f4f4;

    margin: 0;

}

.box .nav-stacked>li:last-of-type {

    border-bottom: none;

}

.box.height-control .box-body {

    max-height: 300px;

    overflow: auto;

}

.box .border-right {

    border-right: 1px solid #f4f4f4;

}

.box .border-left {

    border-left: 1px solid #f4f4f4;

}

.box.box-solid {

    border-top: 0;

}

.box.box-solid>.box-header .btn.btn-default {

    background: transparent;

}

.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover {

    background: rgba(0, 0, 0, 0.1);

}

.box.box-solid.box-default {

    border: 1px solid #d2d6de;

}

.box.box-solid.box-default>.box-header {

    color: #444;

    background: #d2d6de;

    background-color: #d2d6de;

}

.box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn {

    color: #444;

}

.box.box-solid.box-primary {

    border: 1px solid #3c8dbc;

}

.box.box-solid.box-primary>.box-header {

    color: #fff;

    background: #3c8dbc;

    background-color: #3c8dbc;

}

.box.box-solid.box-primary>.box-header a, .box.box-solid.box-primary>.box-header .btn {

    color: #fff;

}

.box.box-solid.box-info {

    border: 1px solid #00c0ef;

}

.box.box-solid.box-info>.box-header {

    color: #fff;

    background: #00c0ef;

    background-color: #00c0ef;

}

.box.box-solid.box-info>.box-header a, .box.box-solid.box-info>.box-header .btn {

    color: #fff;

}

.box.box-solid.box-danger {

    border: 1px solid #dd4b39;

}

.box.box-solid.box-danger>.box-header {

    color: #fff;

    background: #dd4b39;

    background-color: #dd4b39;

}

.box.box-solid.box-danger>.box-header a, .box.box-solid.box-danger>.box-header .btn {

    color: #fff;

}

.box.box-solid.box-warning {

    border: 1px solid #f39c12;

}

.box.box-solid.box-warning>.box-header {

    color: #fff;

    background: #f39c12;

    background-color: #f39c12;

}

.box.box-solid.box-warning>.box-header a, .box.box-solid.box-warning>.box-header .btn {

    color: #fff;

}

.box.box-solid.box-success {

    border: 1px solid #00a65a;

}

.box.box-solid.box-success>.box-header {

    color: #fff;

    background: #00a65a;

    background-color: #00a65a;

}

.box.box-solid.box-success>.box-header a, .box.box-solid.box-success>.box-header .btn {

    color: #fff;

}

.box.box-solid>.box-header>.box-tools .btn {

    border: 0;

    box-shadow: none;

}

.box.box-solid[class*='bg']>.box-header {

    color: #fff;

}

.box .box-group>.box {

    margin-bottom: 5px;

}

.box .knob-label {

    text-align: center;

    color: #333;

    font-weight: 100;

    font-size: 12px;

    margin-bottom: 0.3em;

}

.box>.overlay, .overlay-wrapper>.overlay, .box>.loading-img, .overlay-wrapper>.loading-img {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%}

.box .overlay, .overlay-wrapper .overlay {

    z-index: 50;

    background: rgba(255, 255, 255, 0.7);

    border-radius: 3px;

}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa {

    position: absolute;

    top: 50%;

    left: 50%;

    margin-left: -15px;

    margin-top: -15px;

    color: #000;

    font-size: 30px;

}

.footer {

    position: fixed;

    height: 50px;

    bottom: 0px;

    left: 0px;

    right: 0px;

    margin-bottom: 0px;

}

.box .overlay.dark, .overlay-wrapper .overlay.dark {

    background: rgba(0, 0, 0, 0.5);

}

.box-header:before, .box-body:before, .footer:before, .box-header:after, .box-body:after, .footer:after {

    content: " ";

    display: table;

}

.box-header:after, .box-body:after, .footer:after {

    clear: both;

}

.box-header {

    color: #444;

    display: block;

    padding: 10px;

    position: relative;

}

.box-header.with-border {

    border-bottom: 1px solid #f4f4f4;

}

.collapsed-box .box-header.with-border {

    border-bottom: none;

}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {

    display: inline-block;

    font-size: 18px;

    margin: 0;

    line-height: 1;

}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion {

    margin-right: 5px;

}

.box-header>.box-tools {

    position: absolute;

    right: 10px;

    top: 5px;

}

.box-header>.box-tools [data-toggle="tooltip"] {

    position: relative;

}

.box-header>.box-tools.pull-right .dropdown-menu {

    right: 0;

    left: auto;

}

.btn-box-tool {

    padding: 5px;

    font-size: 12px;

    background: transparent;

    color: #97a0b3;

}

.open .btn-box-tool, .btn-box-tool:hover {

    color: #606c84;

}

.btn-box-tool.btn:active {

    box-shadow: none;

}

.box-body {

    border-top-left-radius: 0;

    border-top-right-radius: 0;

    border-bottom-right-radius: 3px;

    border-bottom-left-radius: 3px;

    padding: 10px;

}

.no-header .box-body {

    border-top-right-radius: 3px;

    border-top-left-radius: 3px;

}

.box-body>.table {

    margin-bottom: 0;

}

.box-body .fc {

    margin-top: 5px;

}

.box-body .full-width-chart {

    margin: -19px;

}

.box-body.no-padding .full-width-chart {

    margin: -9px;

}

#userHeader{

    position: fixed;

}

#fontAw{

    color: green;

}

.btn-secondary{background-color: #009688;
border-color: #009688;
}
#send{
    background-color: #009688;
    border-color: #009688;
    color: whitesmoke;
}

.box-body .box-pane {

    border-top-left-radius: 0;

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;

    border-bottom-left-radius: 3px;

}

.box-body .box-pane-right {

    border-top-left-radius: 0;

    border-top-right-radius: 0;

    border-bottom-right-radius: 3px;

    border-bottom-left-radius: 0;

}

.footer {

    border-top-left-radius: 0;

    border-top-right-radius: 0;

    border-bottom-right-radius: 3px;

    border-bottom-left-radius: 3px;

    border-top: 1px solid #f4f4f4;

    padding: 10px;

    background-color: #fff;

    /*position: fixed;*/

    /*margin-bottom: 0px;*/

}

.direct-chat .box-body {

    border-bottom-right-radius: 0;

    border-bottom-left-radius: 0;

    position: relative;

    overflow-x: hidden;

    padding: 0;

}

.direct-chat.chat-pane-open .direct-chat-contacts {

    -webkit-transform: translate(0,  0);

    -ms-transform: translate(0,  0);

    -o-transform: translate(0,  0);

    transform: translate(0,  0);

}

.direct-chat-messages {

    -webkit-transform: translate(0,  0);

    -ms-transform: translate(0,  0);

    -o-transform: translate(0,  0);

    transform: translate(0,  0);

    padding: 10px;

    height: 100%;

    overflow: auto;

}

/*.direct-chat-msg, .direct-chat-text {

    display: inline;

}*/

.direct-chat-msg {

    margin-bottom: 10px;

}

.direct-chat-msg:before, .direct-chat-msg:after {

    content: " ";

    display: table;

}

.direct-chat-msg:after {

    clear: both;

}

.direct-chat-messages, .direct-chat-contacts {

    -webkit-transition: -webkit-transform .5s ease-in-out;

    -moz-transition: -moz-transform .5s ease-in-out;

    -o-transition: -o-transform .5s ease-in-out;

    transition: transform .5s ease-in-out;

}

.direct-chat-text {

    border-radius: 5px;

    position: relative;

    padding: 5px 10px;


    border: 1px solid #d2d6de;

    margin: 5px 50px 0 50px;

    color: #444;
     border-radius: 1em;
    padding: .5em .5em .5em .5em;
    word-wrap: break-word;

}

.direct-chat-text:after, .direct-chat-text:before {

    position: absolute;

    right: 100%;

    top: 15px;

    border: solid transparent;

    border-right-color: #d2d6de;

    content: ' ';

    height: 0;

    width: 0;

    pointer-events: none;

}

.direct-chat-text:after {

    border-width: 5px;

    margin-top: -5px;

}

.direct-chat-text:before {

    border-width: 6px;

    margin-top: -6px;

}

.right .direct-chat-text {

    margin-right: 50px;

    margin-left: 0;

}

.right .direct-chat-text:after, .right .direct-chat-text:before {

    right: auto;

    left: 100%;

    border-right-color: transparent;

    border-left-color: #d2d6de;

}

.direct-chat-img {

    border-radius: 50%;

    float: left;

    width: 40px;

    height: 40px;

}

.right .direct-chat-img {

    float: right;

}

.direct-chat-info {

    display: block;

    margin-bottom: 2px;

    font-size: 12px;

}

.direct-chat-name {

    font-weight: 600;

}

.direct-chat-timestamp {

    color: #999;

}

.direct-chat-contacts-open .direct-chat-contacts {

    -webkit-transform: translate(0,  0);

    -ms-transform: translate(0,  0);

    -o-transform: translate(0,  0);

    transform: translate(0,  0);

}

.direct-chat-contacts {

    -webkit-transform: translate(101%,  0);

    -ms-transform: translate(101%,  0);

    -o-transform: translate(101%,  0);

    transform: translate(101%,  0);

    position: absolute;

    top: 0;

    bottom: 0;

    height: 250px;

    width: 100%;

    background: #222d32;

    color: #fff;

    overflow: auto;

}

.contacts-list>li {

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    padding: 10px;

    margin: 0;

}

.contacts-list>li:before, .contacts-list>li:after {

    content: " ";

    display: table;

}

.contacts-list>li:after {

    clear: both;

}

.contacts-list>li:last-of-type {

    border-bottom: none;

}

.contacts-list-img {

    border-radius: 50%;

    width: 40px;

    float: left;

}

.contacts-list-info {

    margin-left: 45px;

    color: #fff;

}

.contacts-list-name, .contacts-list-status {

    display: block;

}

.contacts-list-name {

    font-weight: 600;

}

.contacts-list-status {

    font-size: 12px;

}

.contacts-list-date {

    color: #aaa;

    font-weight: normal;

}

.contacts-list-msg {

    color: #999;

}

.direct-chat-danger .right>.direct-chat-text {

    background: #dd4b39;

    border-color: #dd4b39;

    color: #fff;

}

.direct-chat-danger .right>.direct-chat-text:after, .direct-chat-danger .right>.direct-chat-text:before {

    border-left-color: #dd4b39;

}

.direct-chat-primary .right>.direct-chat-text {

    background: #3c8dbc;

    border-color: #3c8dbc;

    color: #fff;

}

.direct-chat-primary .right>.direct-chat-text:after, .direct-chat-primary .right>.direct-chat-text:before {

    border-left-color: #3c8dbc;

}

.direct-chat-warning .right>.direct-chat-text {


    border-color: #43D854;
 
    margin: 5px 50px 0 50px;
    text-align: right;
    border-radius: 1em;
    padding: .5em .5em .5em .5em;
}

.direct-chat-warning .right>.direct-chat-text:after, .direct-chat-warning .right>.direct-chat-text:before {

   border-left-color: #43D854;

}

.direct-chat-info .right>.direct-chat-text {

    background: #00c0ef;

    border-color: #00c0ef;

    color: #fff;

}

.direct-chat-info .right>.direct-chat-text:after, .direct-chat-info .right>.direct-chat-text:before {

    border-left-color: #00c0ef;

}

.direct-chat-success .right>.direct-chat-text {

    background: #00a65a;

    border-color: #00a65a;

    color: #fff;

}

.direct-chat-success .right>.direct-chat-text:after, .direct-chat-success .right>.direct-chat-text:before {

    border-left-color: #00a65a;

}
 .h4, h4 {

    font-size: 1.5rem;

    margin-left: 10px;

}



.p, p {

    margin-top: 0;

    margin-bottom: 1rem;

    margin-left: 10px;

}



.vl {

    border-left: 3px solid #212529;

    height: 100%;

}

.card-img-top {

    width: 50%;

    height:100%;

    border-top-left-radius: calc(.25rem - 1px);

    border-top-right-radius: calc(.25rem - 1px);

    margin-left: 10px;

    margin-bottom: 10px;



}

.card {

    position: relative;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-direction: column;

    flex-direction: column;

    min-width: 70%;

    margin-top: 10px;

    word-wrap: break-word;

    background-color: rgba(255, 255, 255, 0);

    background-clip: border-box;

    border: 1px solid rgba(0, 0, 0, 0);

    border-radius: .25rem;

   

}