

<div class="wrap">
  <div class="main">
   <h1>{{word.oops}}</h1>
    <p>{{word.err}} <span class="error">{{error_name}}</span>.<br>
      <span>{{word.text}}</span></p>
      <button  routerLink='/welcome'>{{word.back}}</button>
      <div class="icons">
        <p>{{word.follow}}</p>
        <ul>
          <li><a href="#"><img src="./../../assets/img1.png"></a></li>
          <li><a href="#"><img src="./../../assets/img2.png"></a></li>
          <li><a href="#"><img src="./../../assets/img3.png"></a></li>        
        </ul> 
      </div>
    </div>
    </div>
