<div class="container-fluid" id="second">
<div class="container-fluid" id="first">
<div class="row" >
<img src="../../assets/logo.png" alt="img src" style="width: 50px" style="height: 50px">
<a class="navbar-brand" id="app">{{word.glibApp}}</a>
</div>
</div>
<div class="container-fluid" id="third">
<div id="login">
<div class="col-xs-12">
<!-- title name -->
<h1 id="h1">{{word.log}}</h1>
<form (ngSubmit)="save(f.value, f.valid)" #f="ngForm" role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
<div class="form-group">
<label for="email" class="sr-only" id="l1">{{word.email}}</label>
<!-- enter email -->
<input type="email" name="fullname" id="e1" class="form-control" placeholder="Username"   [(ngModel)]="username" 
required
pattern="[a-zA-Z][a-zA-Z ]+"
#name="ngModel">
</div>
<div [hidden]="name.valid || (name.pristine && !f.submitted)"
class="alert alert-danger">
<div [hidden]="!name.hasError('required')">{{word.fullname}}</div>
<div [hidden]="!name.hasError('pattern')">{{word.alpha}}</div>
</div>
<div class="form-group">
<!-- enter password -->
<label for="key" class="sr-only" id="pass">{{word.password}}</label>
<input type="password" name="key" id="key" class="form-control" placeholder="Password"
[(ngModel)]="password"
required
minlength="5"
#upassword="ngModel" >
</div>
<div [hidden]="upassword.valid || (upassword.pristine && !f.submitted)"
class="alert alert-danger">
<div [hidden]="!upassword.hasError('required')">{{word.pass}}</div>
<div [hidden]="!upassword.hasError('minlength')">{{word.char}}</div>
</div>
<!-- submit button -->
<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" 
(click)="login()" value="Log in">
</form>
<a  [routerLink]="'/forgetPass'">{{word.forgot}}</a>
<hr>
</div> 
</div>
</div>
</div>


