
<div class="container-fluid" id="second">

<div class="container-fluid" id="first">
<div class="row" >
<img src="../../assets/logo.png" alt="img src" style="width: 50px" style="height: 50px">
<a class="navbar-brand" id="app">{{word.glibApp}}</a>
</div>
</div>
<div class="container-fluid" id="third">
<div id="login">
<div class="col-xs-12">
<h1 id="otp">{{word.enter}}</h1>
<form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
<div class="form-group">
<label for="email"  id="h1" class="sr-only">{{word.email}}</label>
<!-- enter email -->
<input type="otp" name="otp" id="email" class="form-control" placeholder="OTP"   [(ngModel)]="otp">
</div>
<!-- submit button -->
<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" 
(click)=verify(otp) value="Submit">
</form>
</div> 
</div>
</div>
</div>
